#HTID:8757438: DO NOT REMOVE OR MODIFY THIS LINE AND THE LINES BELOW
#php_value display_errors 1
Options -Indexes
Options +FollowSymLinks
RewriteBase /teammate/
RewriteEngine on

<Files .htaccess>
Order allow,deny
Deny from all
</Files>

#RewriteRule ^seguir/([0-9]+)$ seguir.php?id=$1 	
#ErrorDocument 403 /404.html
# DO NOT REMOVE OR MODIFY THIS LINE AND THE LINES ABOVE HTID:8757438:
